{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}{{ group.name }}{% endblock %}
{% block content %}
    <h1>{{ group.name }}</h1> 
    <p>Administrator: {{ group.admin.username }}</p>
    <p>Members:</p>
    <ul>
        {% for member in group.members.all %}
        <li>{{ member.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}
<form method="POST" action="/create_group/">
    {% csrf_token %}  <!-- Include CSRF token for protection -->
    <input type="text" name="group_name">
    <button type="submit">Create Group</button>
</form>